{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content_top_header %}
    {{ include('user/partials/_content_top_header.html.twig') }}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="ea-content">
        <!-- Section - Bootstrap Brain Component -->
        <!-- Card 1 - Bootstrap Brain Component -->
        <section class="pb-3 pb-md-4 pb-xl-5">
            <div class="row gy-3 gy-md-4">
                <div class="col-12 col-sm-6 col-xl-3">
                    {{ include('user/partials/_widget_card.html.twig', {
                        title: 'Consump. change',
                        value: percentageChangeMonthlyConsumption,
                        icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        info: 'since last month today',
                        info_icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        tooltip_description: 'since last month today some more text'
                    }) }}
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    {{ include('user/partials/_widget_card.html.twig', {
                        title: 'Log. Consump.',
                        value: loggedMonthlyConsumption|format_number({ fraction_digit: 2 }) ~ ' Kwh',
                        icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        info: 'since last month today',
                        info_icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        tooltip_description: 'since last month today some more text'
                    }) }}
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    {{ include('user/partials/_widget_card.html.twig', {
                        title: 'Devices',
                        value: totalDevices,
                        icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        info: 'since last month today',
                        info_icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        tooltip_description: 'since last month today some more text'
                    }) }}
                </div>
                <div class="col-12 col-sm-6 col-xl-3">

                    {{ include('user/partials/_widget_card.html.twig', {
                        title: 'Price change',
                        value: changeMonthlyConst|format_currency('EUR'),
                        icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        info: 'since last month today',
                        info_icon: {
                            name: 'fas fa-arrow-circle-up',
                            color: 'bg-danger-subtle text-danger',
                        },
                        tooltip_description: 'since last month today some more text'
                    }) }}
                </div>
            </div>
        </section>

        <!-- Section - Bootstrap Brain Component -->
        <section class="pb-3 pb-md-4 pb-xl-5">
            <div class="row gy-3 gy-md-4">
                <div class="col-12 col-lg-6 col-xl-8">
                    <!-- Chart 1 - Bootstrap Brain Component -->
                    <div class="card widget-card border-light shadow-sm h-100">
                        <div class="card-body p-4">
                            <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title widget-card-title">Consumption Overview</h5>
                                </div>
                                <div>
                                    <select class="form-select text-secondary border-light-subtle">
                                        <option value="1">March 2025</option>
                                        <option value="2">April 2025</option>
                                        <option value="3">May 2025</option>
                                    </select>
                                </div>
                            </div>
                            <div id="bsb-chart-1">
                                {{ include('user/graphs/partials/_daily_energy_usage.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4">
                    <!-- Chart 4 - Bootstrap Brain Component -->
                    <div class="card widget-card border-light shadow-sm h-100">
                        <div class="card-body p-4">
                            <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title widget-card-title">Price night day</h5>
                                </div>
                                <div>
                                    <select class="form-select text-secondary border-light-subtle">
                                        <option value="1">March 2023</option>
                                        <option value="2">April 2023</option>
                                        <option value="3">May 2023</option>
                                        <option value="4">June 2023</option>
                                    </select>
                                </div>
                            </div>
                            <div id="bsb-chart-4">
                                {{ include('user/graphs/partials/_monthly_energy_price.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Chart 4 - Bootstrap Brain Component -->
                    <div class="card widget-card border-light shadow-sm h-100">
                        <div class="card-body p-4">
                            <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title widget-card-title">Logged Devices</h5>
                                </div>
                                <div>
                                    <select class="form-select text-secondary border-light-subtle">
                                        <option value="1">March 2023</option>
                                        <option value="2">April 2023</option>
                                        <option value="3">May 2023</option>
                                        <option value="4">June 2023</option>
                                    </select>
                                </div>
                            </div>
                            <div id="bsb-chart-4">
                                {{ include('user/graphs/partials/_weekly_device_usage.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


